{{#paper-card as |card|}}
  {{#paper-toolbar as |toolbar|}}
    {{#toolbar.tools}}
      <h2>{{model.name}}</h2>
      <span class="flex"></span>
      {{#paper-button mini=true
                      aria-label="Manage authentication"
                      disabled=model.isActive
                      onClick=(action 'goToManageAuth')}}
        {{paper-icon "security"}}
      {{/paper-button}}

      {{#paper-button mini=true
                      aria-label="Delete"
                      disabled=model.isActive
                      onClick=(action 'deleteAppliance')}}
        {{paper-icon "delete"}}
      {{/paper-button}}
    {{/toolbar.tools}}

  {{/paper-toolbar}}
  {{#card.content class="layout-column layout-fill"}}
    <div class="layout-row">
      <div class="layout-column">
        {{#if model.isActive}}
          {{#paper-button onClick=(action "deactivate")}}
            Deactivate
          {{/paper-button}}
        {{else}}
          {{#paper-button onClick=(action "activate")}}
            Activate
          {{/paper-button}}
        {{/if}}
      </div>
    </div>
    <div class="layout-row">
      {{sensors-list appliance=model goToSensor=(action "goToSensor") addSensor=(action 'goToAddSensor')}}
    </div>
  {{/card.content}}
{{/paper-card}}
{{outlet}}
