{{title "Recent"}}
{{#paper-card as |card|}}
  {{#paper-toolbar as |toolbar|}}
    {{#toolbar.tools}}
      <h2>
        {{#link-to 'appliances.detail' model.appliance}}
          {{model.appliance.name}}
        {{/link-to}}
        {{paper-icon 'chevron-right'}}
        {{model.name}}</h2>
      <span class="flex"></span>
      {{#paper-button mini=true
                      aria-label="Delete"
                      disabled=model.appliance.isActive
                      onClick=(action 'deleteSensor')}}
        {{paper-icon "delete"}}
      {{/paper-button}}
    {{/toolbar.tools}}
  {{/paper-toolbar}}
  {{#card.content class="layout-column layout-fill"}}
    <div class="layout-row">
      {{high-charts chartOptions=chartOptions content=chartData}}
    </div>
  {{/card.content}}
{{/paper-card}}
{{outlet}}
